* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
}

body {
  font-family: "Libre Franklin", sans-serif;
}
a {
  text-decoration: none;
}

.nav {
  border-bottom: 1px solid #e6e6e6;
  background: #fff;
}
.navbar-flex {
  display: flex;
  justify-content: space-between;
  padding-top: 2.15rem;
  padding-bottom: 2rem;
}
.navbar-links a {
  text-decoration: none;
  color: #000;
  font-family: Libre Franklin;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem; /* 171.429% */
  padding-left: 2.5rem;
}

/* //section  */

img {
  width: 100%;
  display: block;
}

.Japan-house {
  display: flex;
  padding-top: 3.73rem;
  padding-bottom: 3.75rem;
}
.house-image {
  width: 54%;
}
.japan-details {
  width: 40%;
  padding-left: 3.5rem;
}
.Japan-house h1 {
  color: #000;
  font-family: Tenor Sans;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.625rem; /* 116.667% */
  text-transform: uppercase;
  padding-bottom: 1.56rem;
  padding-top: 1rem;
}
.details {
  color: #999;
  font-family: Libre Franklin;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 600;
  line-height: 0.75rem; /* 120% */
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  padding-top: 1rem;

  display: inline-block;
}
.info {
  color: #666;
  font-family: Source Serif Pro;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  padding-bottom: 1.875rem;
  line-height: 1.5rem; /* 150% */
}
.writer {
  color: #000;
  font-family: Libre Franklin;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 600;
  line-height: 0.75rem; /* 120% */
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
}

/* //section3  */

.blog {
  border-bottom: 1px solid rgba(230, 230, 230, 1);
}
.blogs-small-cards {
  padding-bottom: 5.62rem;
}
.blog-articles {
  padding-bottom: 4rem;
}
.blog-details {
  color: #000;
  font-family: "Tenor Sans", sans-serif;
  font-family: Tenor Sans;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 120% */
  text-transform: uppercase;
}

.blog-articles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24rem, 20rem));
  gap: 1.25rem;
}
.blog-card-details > p {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.blog-card-details {
  padding-bottom: 1rem;
}

/* //SMALL CARD  */
.blogs-small-cards > p {
  padding-bottom: 1rem;
}
.blogs-small-cards {
  padding-top: 5.62rem;
}
.blogs-card {
  display: grid;
  gap: 0.62rem;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 18rem));
}

.small-card-blog {
  padding-top: 1rem;
  padding-bottom: 1.56rem;
}

.small-card-blog > p {
  padding-bottom: 1rem;
}
.blogs-card {
  padding-bottom: 4rem;
}

.link {
  display: flex;
  padding: 1.3125rem 1.65625rem 1.3125rem 1.625rem;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  background: #fff;
  width: 20%;
  margin: auto;
}
.link a {
  color: #000;
  font-family: Libre Franklin;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 600;
  line-height: 0.75rem; /* 120% */
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
}

/* //large-blogs */

.large-cards {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
}
.card {
  padding-left: 1.25rem;
}
.pad {
  padding-left: 1.5rem;
  padding-bottom: 1.88rem;
}

.card {
  padding-bottom: 1.56rem;
}

.card p {
  padding-bottom: 1rem;
}

/* //footer  */
.footer {
  background: #141414;
  padding-top: 5.62rem;
  padding-bottom: 5.62rem;
}
.first-section {
  display: flex;
  padding-bottom: 3.68rem;

  align-items: center;
  border-bottom: 1px solid #4d4d4d;
}

.footer-small-text {
  color: #666;
  font-family: Libre Franklin;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 600;
  line-height: 0.75rem; /* 120% */
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  padding-left: 0.96rem;
}
.titles {
  color: #666;
  font-family: Libre Franklin;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 600;
  line-height: 0.75rem; /* 120% */
  letter-spacing: 0.0625rem;
  padding-bottom: 1.25rem;
  text-transform: uppercase;
  padding-top: 3.75rem;
}

.titlessubscribe {
  color: #666;
  font-family: Libre Franklin;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 600;
  line-height: 0.75rem; /* 120% */
  letter-spacing: 0.0625rem;
}

.categories-fields {
  display: flex;
  justify-content: space-between;
}
.category a {
  color: white;
  padding-bottom: 1rem;
}
.category {
  display: flex;
  flex-direction: column;
}
.form-input {
  display: flex;
}
.subscribe {
  display: inline-block;
}
.submit {
  display: flex;
  width: 4.95625rem;
  height: 3rem;
  padding: 1.125rem 1.47219rem 1.125rem 1.48406rem;
  flex-direction: column;
  align-items: center;
  background-color: black;
}
::placeholder {
  padding-left: 0.3rem;
}

.categories-second-fields {
  display: flex;
  width: 53%;
  justify-content: space-between;
}

.categorysecond {
  display: flex;
  flex-direction: column;
}
.categorysecond a {
  padding-bottom: 0.62rem;
  color: white;
}

@media (max-width: 768px) {
  .Japan-house {
    flex-direction: column;

    align-items: center;
  }
  .house-image {
    width: 100%;
  }
  .Japan-house h1 {
    font-size: 1.2rem;
    width: 100%;
  }
  .japan-details {
    width: 100%;
    padding-left: 0.2rem;
  }
  .blog-articles {
    justify-content: center;
  }
  .link {
    width: 100%;
  }
  .blog-articles {
    grid-template-columns: repeat(auto-fill, minmax(10rem, 17rem));
  }
  .categories-fields {
    flex-wrap: wrap;
  }
  .subscribe {
    padding-top: 1rem;
  }
}

@media (max-width: 540px) {
  .navbar-links a {
    padding-right: 0rem;
    padding-left: 0.5rem;
  }

  .categories-fields {
    flex-direction: column;
  }
  .blog-articles {
    grid-template-columns: repeat(auto-fill, minmax(17rem, 20rem));
  }
  .blogs-card {
    grid-template-columns: repeat(auto-fill, minmax(17rem, 20rem));
    justify-content: center;
  }
  .blog-details {
    font-size: 1rem;
  }
}

@media (max-width: 1440px) {
  .blog-articles {
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 20rem));
  }
  .blogs-card {
    grid-template-columns: repeat(auto-fill, minmax(14rem, 20rem));
    justify-content: center;
  }
}
